# General
*.DS_Store
*.log
*.env
*.pyc
__pycache__/

# Python virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv/
env/
venv/

# MyPy
.mypy_cache/

# Profiling data
.prof

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Exclude specific files
beispiel-get-hacs-store.sh

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
